# Unit tests not working yet, see upstream issue #400
Tests: mailman3-nose2
Depends: mailman3,
         procps,
         python3-flufl.testing,
         python3-nose2
Restrictions: isolation-container, needs-root

Test-Command: mailman create testlist@example.org
Depends: mailman3,
         postfix
Restrictions: isolation-container, needs-root

Tests: mailman3-api
Depends: mailman3,
         curl
Restrictions: isolation-container, needs-root
