Source: mailman3-core
Section: mail
Priority: optional
Maintainer: Mailman for Debian <pkg-mailman-hackers@lists.debian.org>
Uploaders: Pierre-Elliott Bécue <becue@crans.org>,
    Jonas Meurer <mejo@debian.org>
Build-Depends: debhelper (>= 10),
               python3-aiosmtpd (>=1.0),
               python3-alembic,
               python3,
               python3-dnspython (>= 1.14.0),
               python3-falcon (>= 1.0.0),
               python3-flufl.bounce,
               python3-flufl.i18n,
               python3-flufl.lock,
               python3-httplib2,
               python3-lazr.config,
               python3-passlib,
               python3-public,
               python3-setuptools,
               python3-sphinx,
               python3-sqlalchemy,
               python3-zope.component,
               python3-zope.configuration,
               python3-zope.event,
               python3-zope.interface
Standards-Version: 4.1.0
Homepage: http://www.list.org/
X-Python3-Version: >= 3.5
Vcs-Browser: https://github.com/P-EB/mailman3-core
Vcs-Git: https://github.com/P-EB/mailman3-core.git -b master

Package: mailman3-core
Architecture: all
Depends: logrotate,
         lsb-base (>= 3.0-6),
         python3-falcon (>= 0.3rc1),
         ${shlibs:Depends},
         ${misc:Depends},
         ${python3:Depends}
Suggests: mailman3-core-doc
Description: Mailing list management system
 This is GNU Mailman, a mailing list management system distributed under the
 terms of the GNU General Public License (GPL) version 3 or later.  The name of
 this software is spelled "Mailman" with a leading capital 'M' but with a lower
 case second 'm'.  Any other spelling is incorrect.

Package: mailman3-core-doc
Section: doc
Architecture: all
Depends: ${sphinxdoc:Depends}, ${misc:Depends}
Description: Mailing list management system documentation
 This package contains the full compiled documentation of Mailman3
 server. It is built using sphinx and voluntarily separated from
 mailman3-core lib/binaries as it is not required to have a properly
 working server.
