# systemd service template for mailman3 core program

[Unit]
Description=Mailman3 Core program
ConditionPathExists=/etc/mailman3/mailman.cfg

[Service]
# Type is simple
ExecStart=/usr/bin/mailman -C /etc/mailman3/mailman.cfg start
ExecReload=/bin/kill -HUP $MAINPID
# The main PID receives SIGTERM and by default, SIGKILL 90s later
KillMode=process
PIDFile=/run/mailman3/master.pid
SyslogIdentifier=mailman3-core
Restart=on-failure
RestartPreventExitStatus=SIGINT SIGTERM SIGKILL
User=list
Group=list

[Install]
WantedBy=multi-user.target
