#!/bin/sh

set -e

. /usr/share/debconf/confmodule

if [ -f /usr/share/dbconfig-common/dpkg/config.pgsql ]; then
    dbc_dbname="mailman3core"
    dbc_dbuser="mailman3core"
    . /usr/share/dbconfig-common/dpkg/config.pgsql
    dbc_go mailman3-core "$@"
fi

db_input medium mailman3-core/config_hyperkitty || true
db_go
