#!/bin/sh

set -e

. /usr/share/debconf/confmodule

if [ -f /usr/share/dbconfig-common/dpkg/config ]; then
    dbc_dbtypes="sqlite3, pgsql, mysql"
    dbc_basepath="/var/lib/mailman3/data"
    dbc_dbname="mailman3"
    dbc_dbuser="mailman3"
    . /usr/share/dbconfig-common/dpkg/config
    dbc_go mailman3 "$@"

    db_get mailman3/database-type || true
    res="$RET"
    if [ "$res" = "sqlite3" ]; then
        dbc_dbname="mailman.db"
        db_set mailman3/db/dbname "$dbc_dbname"
    fi
fi

db_input medium mailman3/config_hyperkitty || true
db_go
