#!/usr/bin/make -f
export DH_VERBOSE = 1

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

export PYBUILD_NAME = mailman-core

MM3_BIN_DIR=/usr/lib/mailman3/bin/
export PYBUILD_INSTALL_ARGS ?= \
	--install-scripts=${MM3_BIN_DIR}/

%:
	dh $@ --with python3,systemd,sphinxdoc --buildsystem=pybuild

override_dh_auto_test:

override_dh_auto_build:
	# Builds sphinx doc
	#PYTHONPATH=. sphinx-build -N -q -E -c ./ -b html . debian/compiled_doc/temp
	PYTHONPATH=. sphinx-build -b html -c ./ -E -N . build/sphinx/html
	dh_auto_build

override_dh_auto_install:
	find debian/tmp/usr -type d -name "tests" -print0 | xargs -0 rm -r
	dh_auto_install

override_dh_installchangelogs:
	dh_installchangelogs src/mailman/docs/NEWS.rst

get-orig-source:
	uscan --verbose --rename
